<div class="text-center title">TheSolveBook</div>

<div class="landing-content">
<board-creator></board-creator>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-th"></span> TheSolveBook</h2>
        <hr>
        <p>
            The Solve Book is an anonymous online message board.
            share those problems that have already been solved
            freely on the internet in Physics, Mathematics, Chemistry, biology and others,
            thesolvebook will be free and accessible for all.
            Become collaborative!
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-education"></span> Coursera</h2>
        <hr>
        <p>
            This project is an academic work.
            It's my final capstone project for the Full Stack Web Development course on Coursera.
            Read more at: <a href="https://www.coursera.org/learn/web-development-project" target="_blank">https://www.coursera.org/learn/web-development-project</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-pencil"></span> GitHub</h2>
        <hr>
        <p>
            You can find the project on <a href="https://github.com/" target="_blank">GitHub</a>.
            It includes all source code as well as the documentation for Coursera.
        </p>
    </div>
</div>